<h1>Welcome to {{ hoetelName }}</h1>

<div [hidden]="hideRooms">
  Number of Rooms:
  <div [innerHTML]="numberOfRooms"></div>
</div>

<!-- documents.getElementById('numberOfRooms').innerText = this.numberOfRooms; -->
<div
  [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
  [innerText]="numberOfRooms"
></div>
<!-- box syntax -->

<!-- Banana Syntax -->
<button (click)="toggle()">Toggle</button>

{{ rooms?.availableRooms ?? "No Rooms Available" }}

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<!-- ngIf  -->
<div *ngIf="rooms?.availableRooms">
  <app-rooms-list
    [rooms]="roomList"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>
